<center>
	<div id="mainpage" style="background-color:beige;">
		<h4 style="margin-top:auto;">Menu</h4>
		<a href="/edit"><button>Update</button></a>
		<br/><br/>
		<% if (flag == true) { %>
    	<a href="/download"><button>Download logs</button></a>
    	<br/><br/>
    	<% } %>
		<a href="/logout"><button>Logout</button></a>
	</div>
</center>